<?php

$album = $block->getAlbum();

?>

<?php if ($album) : ?>

<div>
    <span><?=__("Name") ?></span>
    <span><?=$album->getName()?></span>
</div>

<div>
    <span><?=__("Artists") ?></span>
    <span><?=$album->getArtist()?></span>
</div>

<?php endif; ?>
