<?php

$album = $block->getAlbum();

// $isEnabled = $this->helper(\MusicStore\Album\Helper\Data::class)->isEnabled();

$isEnabled = $block->getViewModel()->isAlbumModuleEnabled();

?>

<?php if ($isEnabled && $album) : ?>

    <div>
        <span><?=__("Name") ?></span>
        <span><?=$album->getName()?></span>
    </div>

    <div>
        <span><?=__("Artist") ?></span>
        <span><?=$album->getArtist()?></span>
    </div>

<?php endif; ?>
