<?php

$store = $block->getStoreById();

$isEnabled = $block->getViewModel()->isStoreModuleEnabled();

?>

<?php if ($isEnabled && $store) : ?>
    <div>
        <span><?=__("Name")?></span>
        <span><?=$store->getName()?></span>
    </div>
    <div>
        <span><?=__("Address")?></span>
        <span><?=$store->getAddress()?></span>
    </div>

<?php endif; ?>


