<?php

/**
 * @var StoreLocator\Store\Block\View $block;
 */

$stores = $block->getStores();


foreach ($stores as $store) { ?>
    </br>
    <a href="http://magento2.local/store/<?php echo $store->getUrlKey(); ?>"> <?php echo $store->getName();
    ?></a>
    </br>


<?php } ?>
